body {
    font-family: "Playfair Display", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #f4f1ec;
    color: #121618;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;

}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 140px;
}

.text {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 80px;
}

.title {
        font-weight: 500;
    font-size: 48px;
    margin-bottom: 20px;
}


/* SECTION HERO */

.hero {
    display: flex;
    background-color: #121618;
    align-items: center;
    justify-content: flex-start;
    gap: 140px;
    height: 504px;

}

.hero-left {
    max-width: 516px;

}

.hero-title {
    color: #f4f1ec;
}

.main-text {
    color: #f4f1ec;
    
}

.image-container {

 
}

/* Collection Highlights */

.collection-title {
    color: #a28140;
}

.collection-text {
    color: #121618;
}

.collection-list {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.collection-item {
flex-basis: calc(100/3 - 160px);
}

.title-img {
    color: #a28140;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-img {
font-weight: 600;
font-size: 14px;
line-height: 1.8;
letter-spacing: 0.05em;
color: #121618;
margin-bottom: 51px;
}

.explore {
    font-weight: 500;
font-size: 16px;
color: #f4f1ec;
padding: 5px 10px;
width: 181px;
height: 31px;
background-color: #a28140;
margin-left: auto;
}